<template>
   <v-container
           fluid="true"
   >
      <v-snackbar
              v-model="snackbar"
              :color="color_snackbar"
              :timeout="8000"
              location="bottom left"
      >
         {{ text_snackbar }}
         <template v-slot:actions>
            <v-btn icon color="white" @click="snackbar = false">
               <v-icon>mdi-close-thick</v-icon>
            </v-btn>
         </template>
      </v-snackbar>
      <v-progress-linear indeterminate color="teal-darken-1" v-if="progress_line"></v-progress-linear>
      <v-table>
         <thead>
            <tr>
               <th class="text-left">Фамилия</th>
               <th class="text-left">Имя</th>
               <th class="text-left">Отчество</th>
               <th class="text-left">Роль</th>
               <th class="text-left">E-mail</th>
               <th class="text-left">Редактировать</th>
               <th class="text-left">Удалять</th>
            </tr>
         </thead>
         <tbody v-if="GET_ACCOUNTS.length && GET_ACCOUNTS[0].account">
            <tr v-for="(item, index) in GET_ACCOUNTS" :key="item.id">
               <td>{{ item.account.surname }}</td>
               <td>{{ item.account.name }}</td>
               <td>{{ item.account.patronymic }}</td>
               <td>{{ item.roles_name}}</td>
               <td>{{ item.account.email }}</td>
               <td>
                  <v-btn
                          :color="(item.roles_name=='Администратор'?'grey-darken-1':'teal-darken-1')"
                          :disabled="(item.roles_name=='Администратор'?true:false)"
                          @click="showDialogObject(item.account.id)"
                          size="small"
                          icon

                  >
                     <v-icon>mdi-pencil</v-icon>
                  </v-btn>
               </td>
               <td>
                  <v-btn
                          :color="(item.roles_name=='Администратор'?'grey-darken-1':'red-lighten-2')"
                          :disabled="(item.roles_name=='Администратор'?true:false)"
                          @click="showDialogDestroy(item.account.id,index)"
                          size="small"
                          icon
                  >
                     <v-icon>mdi-trash-can-outline</v-icon>
                  </v-btn>
               </td>
            </tr>
         </tbody>
      </v-table>
      <v-row justify="center">
         <v-dialog v-model="GET_ACCOUNT_DIALOG" persistent max-width="700px">
            <v-card>
               <v-card-title
                       class="bg-blue-grey-darken-3"
                       dark
               >
                  <span class="headline">Пользователь</span>
               </v-card-title>
               <v-card-text>
                  <v-container>
                     <v-form ref="form_account" lazy-validation>
                        <v-row>
                           <v-col class="padding_col" cols="12" md="4">
                              <v-text-field
                                      label="Фамилия*"
                                      v-model="account.surname"
                                      :rules="surname_rules"
                                      variant="outlined"
                              ></v-text-field>
                           </v-col>
                           <v-col class="padding_col" cols="12" md="4">
                              <v-text-field
                                      label="Имя*"
                                      v-model="account.name"
                                      :rules="name_rules"
                                      variant="outlined"
                              ></v-text-field>
                           </v-col>
                           <v-col class="padding_col" cols="12" md="4">
                              <v-text-field
                                      label="Отчество*"
                                      v-model="account.patronymic"
                                      :rules="patronymic_rules"
                                      variant="outlined"
                              ></v-text-field>
                           </v-col>
                           <v-col class="padding_col" cols="12" md="6" >
                              <v-text-field
                                      label="Дата рождения*"
                                      v-model="account.birthday"
                                      :rules="birthday_rules"
                                      variant="outlined"
                                      type="date"
                              ></v-text-field>
                           </v-col>
                           <v-col class="padding_col" cols="12" md="6">
                              <v-select
                                      label="Пол"
                                      v-model="account.sex"
                                      :items="GET_SEX_ITEMS"
                                      variant="outlined"
                              ></v-select>
                           </v-col>
                           <v-col class="padding_col" cols="12">
                              <v-text-field
                                      label="E-mail*"
                                      v-model="account.email"
                                      :rules="email_rules"
                                      variant="outlined"
                                      autocomplete="username"
                              ></v-text-field>
                           </v-col>
                           <v-col class="padding_col" cols="12">
                              <v-autocomplete
                                      label="Организация"
                                      v-model="organization_ids"
                                      :items="GET_ORGANIZATIONS"
                                      item-value="id"
                                      item-title="name"
                                      variant="outlined"
                                      dense
                              >
                                 <template v-slot:item="{ props, item }">
                                    <v-list-item
                                            v-bind="props"
                                    >{{item.name}}</v-list-item>
                                 </template>
                                 <template v-slot:no-data >
                                    <div class="not_data">
                                       Нет организаций
                                    </div>
                                 </template>
                              </v-autocomplete>
                           </v-col>
                           <v-col class="padding_col" cols="12">
                              <v-autocomplete
                                      label="Роль"
                                      v-model="role_ids"
                                      :items="GET_ROLES"
                                      item-value="id"
                                      variant="outlined"
                                      closable-chips
                                      multiple
                                      chips
                              >
                                 <template v-slot:chip="{ props, item }">
                                    <v-chip
                                            v-bind="props"
                                            size="small"
                                            :text="item?.raw?.name"
                                    ></v-chip>
                                 </template>
                                 <template v-slot:item="{ props, item }">
                                    <v-list-item
                                            v-bind="props"
                                            :title="item?.raw?.name"
                                    >
                                    </v-list-item>
                                 </template>
                                 <template v-slot:no-data >
                                    <div class="not_data">
                                       Роли не созданы
                                    </div>
                                 </template>
                              </v-autocomplete>
                           </v-col>
                           <v-col class="padding_col" cols="12" md="6" v-if="show_form_password">
                              <v-text-field
                                      label="Пароль*"
                                      v-model="password"
                                      :rules="password_rules"
                                      :type="type_show_password"
                                      autocomplete="new-password"
                                      variant="outlined"
                              ></v-text-field>
                           </v-col>
                           <v-col class="padding_col" cols="12" md="6" v-else>
                              <v-btn
                                      color="teal-darken-1"
                                      icon
                                      @click="changeFromPassword()"
                              >
                                 <v-icon>mdi-key-chain</v-icon>
                              </v-btn>
                           </v-col>
                           <v-col class="padding_col" cols="12" md="6" v-if="show_form_password">
                              <v-btn
                                      color="brown-lighten-1"
                                      icon
                                      @click="changePerformancePassword()"
                                      style="margin-right:15px"
                              >
                                 <v-icon v-if="type_show_password == 'password'">mdi-eye</v-icon>
                                 <v-icon v-else>mdi-eye-off</v-icon>
                              </v-btn>
                              <v-btn
                                      color="teal-darken-1"
                                      icon
                                      @click="generatePassword()"
                                      style="margin-right:15px"
                              >
                                 <v-icon>mdi-auto-fix</v-icon>
                              </v-btn>
                              <v-btn
                                      color="grey-darken-1"
                                      icon
                                      @click="accountDataPDF()"
                                      style="margin-right:15px"
                              >
                                 <v-icon>mdi-file-download</v-icon>
                              </v-btn>
                              <v-btn
                                      color="red-lighten-2"
                                      icon
                                      v-if="submit_type != 0"
                                      @click="changeFromPassword()"
                                      style="margin-right:15px"
                              >
                                 <v-icon>mdi-undo-variant</v-icon>
                              </v-btn>
                           </v-col>
                        </v-row>
                     </v-form>
                  </v-container>
               </v-card-text>
               <v-card-actions>
                  <v-spacer></v-spacer>

                  <v-btn
                          variant="tonal"
                          color="blue-grey-darken-1"
                          @click="closeDialogObject()"
                  >
                     Закрыть
                  </v-btn>
                  <v-btn
                          variant="tonal"
                          color="teal-darken-1"
                          @click="submitObject()"
                  >
                     Сохранить
                  </v-btn>
               </v-card-actions>
            </v-card>
            <v-progress-linear indeterminate color="blue" v-if="progress_line_form"></v-progress-linear>
         </v-dialog>
      </v-row>
      <v-row justify="center">
         <v-dialog v-model="destroy_dialog" persistent max-width="450">
            <v-card style="height: 200px">
               <v-card-title
                       class="bg-blue-grey-darken-3"
                       dark
               >
                  <span class="headline">Удаление</span>
               </v-card-title>
               <v-card-text>Вы действительно хотите удалить пользователя?</v-card-text>
               <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-card-actions>
                     <v-spacer></v-spacer>
                     <v-btn
                             variant="tonal"
                             color="blue-grey-darken-1"
                             @click="destroyObject(false)"
                     >
                        Закрыть
                     </v-btn>
                     <v-btn
                             variant="tonal"
                             color="teal-darken-1"
                             @click="destroyObject(true)"
                     >
                        Удалить
                     </v-btn>
                  </v-card-actions>
               </v-card-actions>
            </v-card>
         </v-dialog>
      </v-row>
   </v-container>
</template>

<script>
   import {mapActions, mapGetters} from 'vuex'
   import AccountDataPdf from '../makepdfs/account_data_pdf';
   export default {
      name: 'account',
      data: () => ({
         snackbar: false,
         progress_line: false,
         progress_line_form: false,
         destroy_dialog: false,
         text_snackbar: '',
         color_snackbar: 'rgba(255, 82, 82, 0.9)',
         submit_type: 0,
         current_id: 0,
         first_load_page: true,
         type_show_password: 'password',
         show_form_password: true,

         roles_items: [],
         organization_ids: [],
         role_ids: [],
         password: '',
         current_accoount_id: 0,

         account: {
            name: '',
            surname: '',
            patronymic: '',
            birthday: '',
            sex: '',
            email: '',
         },

         current_destroy_id: 0,
         current_destroy_index: 0,

         surname_rules: [
            v => !!v || 'Укажите фамилию',
         ],
         name_rules: [
            v => !!v || 'Укажите имя',
         ],
         patronymic_rules: [
            v => !!v || 'Укажите отчество',
         ],
         birthday_rules: [
            v => !!v || 'Укажите дату',
         ],
         email_rules: [
            v => !!v || 'Укажите почту',
            v => /.+@.+\..+/.test(v) || 'Некорректный e-mail ',
         ],
         password_rules: [
            v => !!v || 'Укажите пароль',
            v => (v && v.length >= 9) || 'Короткий пароль',
         ],
      }),
      mounted: function(){
         this.progress_line = true;
         this.loadObjects();
         this.LoadRoles();
         this.LOAD_ORGANIZATIONS();
      },
      watch: {
         'GET_PASSWORD': function(newValue, oldValue){
            this.password = newValue;
         },
         'GET_ROLES': function(newValue, oldValue){
            this.roles_items = newValue;
         },
      },
      computed: {
         ...mapGetters(['GET_ACCOUNT_DIALOG','GET_ACCOUNTS','GET_PASSWORD','GET_ROLES','GET_SEX_ITEMS','GET_ORGANIZATIONS','GET_ACCOUNT']),
      },
      methods: {
         ...mapActions(['CHANGE_ACCOUNT_DIALOG', 'LOAD_ACCOUNTS_SORT', 'LOAD_ACCOUNTS', 'CREATE_PASSWORD', 'UPDATE_ACCOUNT', 'CREATE_ACCOUNT', 'DESTROY_ACCOUNT', 'LOAD_ROLES','LOAD_ORGANIZATIONS']),

         LoadRoles(){
            this.LOAD_ROLES().then((respond)=>{
               if(respond.request.status == 200){
                  if(respond.data.error){
                     this.showSnackbar('rgba(255, 82, 82, 0.9)', respond.data.message);
                  }else{
                     if(this.first_load_page) this.showSnackbar('rgba(85, 175, 80, 0.9)','Список ролей загружен');
                  }
               }else{
                  this.showSnackbar('rgba(255, 82, 82, 0.9)','Ошибка загрузки списка ролей');
               }
               this.first_load_page = false;
               this.progress_line = false;
            });
         },

         loadObjects(){
            this.LOAD_ACCOUNTS().then((respond)=>{
               if(respond.request.status == 200){
                  if(respond.data.error){
                     this.showSnackbar('rgba(255, 82, 82, 0.9)', respond.data.message);
                  }else{
                     this.showSnackbar('rgba(85, 175, 80, 0.9)','Список пользователей загружен');
                  }
               }else{
                  this.showSnackbar('rgba(255, 82, 82, 0.9)','Ошибка загрузки списка пользователей');
               }
               this.progress_line = false;
            });
         },

         showDialogObject(id){
            let current_account = _.cloneDeep(this.GET_ACCOUNTS.filter(account=>account.account.id==id)[0]);
            this.account = current_account.account; // везде переписать копирование диип
            this.role_ids = current_account.role_ids;
            this.organization_ids = current_account.organization_ids;
            this.show_form_password = false;
            this.CHANGE_ACCOUNT_DIALOG();
            this.submit_type = 1;
            this.current_id  = id;
         },

         submitObject(){
            this.$refs.form_account.validate().then(e=>{
               if(e.valid){
                  this.$refs.form_account.resetValidation();
                  this.CHANGE_ACCOUNT_DIALOG();
                  this.progress_line = true;
                  let account = {}
                  account["account"] = this.account;
                  account["role_ids"] = this.role_ids;
                  account["organization_ids"] = this.organization_ids;
                  if(this.password){account["account"]["password"] = this.password;}
                  const token = document.querySelector('[name=csrf-token]').content
                  if(this.submit_type == 0){
                     this.accountDataPDF();
                     this.CREATE_ACCOUNT([account,token]).then((respond)=>{
                        if(respond.request.status == 200 && respond.data){
                           if(respond.data.error){
                              this.showSnackbar('rgba(255, 82, 82, 0.9)', respond.data.message);
                              this.progress_line = false;
                           }else{
                              this.loadObjects();
                              this.clearObject();
                              this.showSnackbar('rgba(85, 175, 80, 0.9)','Пользователь успешно создан');
                           }
                        }else{
                           this.showSnackbar('rgba(255, 82, 82, 0.9)','Ошибка создания пользователя');
                           this.progress_line = false;
                        }
                     });
                  }else if(this.submit_type == 1){
                     this.UPDATE_ACCOUNT([this.current_id,account,token]).then((respond)=>{
                        if(respond.request.status == 200 && respond.data){
                           if(respond.data.error){
                              this.showSnackbar('rgba(255, 82, 82, 0.9)', respond.data.message);
                              this.progress_line = false;
                           }else{
                              this.loadObjects();
                              this.clearObject();
                              this.showSnackbar('rgba(85, 175, 80, 0.9)','Пользователь успешно обновлен');
                           }
                        }else{
                           this.showSnackbar('rgba(255, 82, 82, 0.9)','Ошибка обновления пользователя');
                           this.progress_line = false;
                        }
                     });
                  }
               }
            });
         },

         closeDialogObject(){
            this.$refs.form_account.resetValidation();
            this.CHANGE_ACCOUNT_DIALOG();
            this.clearObject();
         },

         showDialogDestroy(id,index){
            this.destroy_dialog = true;
            this.current_destroy_id = id;
            this.current_destroy_index = index;
         },

         destroyObject(flag){
            this.destroy_dialog = false;
            if(flag){
               this.progress_line = true;
               const token = document.querySelector('[name=csrf-token]').content;
               this.DESTROY_ACCOUNT([this.current_destroy_id,this.current_destroy_index,token]).then((respond)=>{
                  if(respond.request.status == 200 && respond.data){
                     if(respond.data.error){
                        this.showSnackbar('rgba(255, 82, 82, 0.9)', respond.data.message);
                     }else{
                        this.showSnackbar('rgba(85, 175, 80, 0.9)','Пользователь успешно удален');
                     }
                  }else{
                     this.showSnackbar('rgba(255, 82, 82, 0.9)','Ошибка удаления пользователя');
                  }
                  this.progress_line = false;
               });
            }
            this.current_destroy_id = 0;
            this.current_destroy_index = 0;
         },

         clearObject(){
            //this.$refs.form_account.resetValidation();
            this.submit_type = 0;
            this.role_ids = [];
            this.account = _.cloneDeep({
               name: '',
               surname: '',
               patronymic: '',
               birthday: '',
               sex: '',
               email: '',
            });
         },

         changeFromPassword(){
            this.show_form_password = !this.show_form_password;
         },

         changePerformancePassword(){
            if(this.type_show_password == "password"){
               this.type_show_password = "text";
            }else{
               this.type_show_password = "password";
            }
         },

         generatePassword(){
            this.progress_line_form = true;
            this.CREATE_PASSWORD().then((respond)=>{
               if(respond.request.status == 200 && !respond.data.error){
                  this.showSnackbar('rgba(85, 175, 80, 0.9)','Пароль сгенерирован');
               }else{
                  this.showSnackbar('rgba(255, 82, 82, 0.9)','Ошибка создания пароля');
               }
               this.progress_line_form = false;
            });
         },

         showSnackbar(color,text){
            this.color_snackbar = color;
            this.text_snackbar = text;
            this.snackbar = true;
         },

         accountDataPDF(){
            let current_roles = '';
            for(var i=0;i<this.role_ids.length;i++){
               current_roles += `${this.GET_ROLES.filter(e => e.id == this.role_ids[i])[0].name}, `
            }
            AccountDataPdf.createPDF([this.account,this.password,current_roles.slice(0,-2)],this.GET_ACCOUNT[0]);
         },
      }
   }
   //red-lighten-2
   //brown-lighten-1
   //#cd6868
</script>

<style scoped>
</style>