<template>
   <v-container
           fluid="true"
   >
      <v-snackbar
              v-model="snackbar"
              :color="color_snackbar"
              :timeout="4000"
              location="bottom left"
      >
         {{ text_snackbar }}
         <template v-slot:actions>
            <v-btn  color="white"
                    icon
                    @click="snackbar = false"
            >
               <v-icon>mdi-close-thick</v-icon>
            </v-btn>
         </template>
      </v-snackbar>
      <v-progress-linear
              color="teal-darken-1"
              indeterminate
              v-if="progress_line"
      ></v-progress-linear>
      <v-form ref="form_settings" lazy-validation>
         <v-row justify="space-around" style="height: 800px;">
            <v-sheet  width="850" style="border: 1px solid rgba(0,0,0,.12); padding: 10px; margin-top: 20px;">
               <v-row>
                  <v-col class="padding_col" cols="12" >
                     <h2>Выпуски</h2>
                     <v-divider></v-divider>
                  </v-col>
                  <v-col class="padding_col" cols="6">
                     <v-text-field
                             label="Количество кругов"
                             v-model="app_setting.default_count_circle"
                             variant="outlined"
                             dense
                     ></v-text-field>
                  </v-col>
                  <v-col class="padding_col" cols="6">
                     <v-text-field
                             label="Круг перерыва"
                             v-model="app_setting.default_break_circle"
                             variant="outlined"
                             dense
                     ></v-text-field>
                  </v-col>
                  <v-col class="padding_col" cols="6">
                     <v-text-field
                             label="Время выходного дня (мин.)"
                             v-model="app_setting.add_time_weekend"
                             variant="outlined"
                             dense
                     ></v-text-field>
                  </v-col>
                  <v-col class="padding_col" cols="6">
                     <v-text-field
                             label="Количество заменяющих выпусков"
                             v-model="app_setting.count_replacement_issues"
                             variant="outlined"
                             dense
                     ></v-text-field>
                  </v-col>
                  <v-col class="padding_col" cols="12" >
                     <h2>Печатные формы</h2>
                     <v-divider></v-divider>
                  </v-col>
                  <v-col class="padding_col" cols="6">
                     <v-text-field
                             label="Ширина таблицы"
                             v-model="app_setting.full_page_width"
                             variant="outlined"
                             dense
                     ></v-text-field>
                  </v-col>
                  <v-col class="padding_col" cols="6">
                     <v-switch
                             label="Переносить таблицу"
                             v-model="app_setting.stream_table_page"
                             color="teal-darken-1"
                             inset
                     ></v-switch>
                  </v-col>
                  <v-col class="padding_col" cols="6">
                     <v-btn
                             variant="tonal"
                             color="teal-darken-1"
                             @click="submitObject()"
                     >
                        Сохранить
                     </v-btn>
                  </v-col>
               </v-row>
            </v-sheet>
         </v-row>
      </v-form>
   </v-container>
</template>

<script>
   import {mapActions, mapGetters} from 'vuex'
   export default {
      name: 'app_setting',
      data: () => ({
         snackbar: false,
         progress_line: false,
         destroy_dialog: false,
         text_snackbar: '',
         color_snackbar: '',

         app_setting: {
            full_page_width: null,
            default_break_circle: null,
            default_count_circle: null,
            add_time_weekend: null,
            count_replacement_issues: null,
            stream_table_page: null,
         },
      }),
      mounted: function(){
         this.progress_line = true;
         this.loadObjects();
      },
      watch: {},
      computed: {
         ...mapGetters(['GET_APP_SETTINGS']),
      },
      methods: {
         ...mapActions(['LOAD_APP_SETTINGS','UPDATE_APP_SETTINGS']),

         loadObjects(){
            this.LOAD_APP_SETTINGS().then((respond)=>{
               if(respond.request.status == 200){
                  if(respond.data.error){
                     this.showSnackbar('rgba(255, 82, 82, 0.9)', respond.data.message);
                  }else{
                     this.app_setting = respond.data[0]
                     this.showSnackbar('rgba(85, 175, 80, 0.9)','Настройки по умолчанию загружены');
                  }
               }else{
                  this.showSnackbar('rgba(255, 82, 82, 0.9)','Ошибка загрузки настроек по умолчанию')
               }
               this.progress_line = false;
            });
         },

         submitObject(){
            this.progress_line = true;
            let app_setting = {}
            app_setting["app_setting"] = this.app_setting;
            const token = document.querySelector('[name=csrf-token]').content
            this.UPDATE_APP_SETTINGS([this.app_setting.id,app_setting,token]).then((respond)=>{
               if(respond.request.status == 200 && respond.data){
                  if(respond.data.error){
                     this.showSnackbar('rgba(255, 82, 82, 0.9)', respond.data.message);
                  }else{
                     this.showSnackbar('rgba(85, 175, 80, 0.9)','Настройки по умолчанию успешно обновлены');
                  }
               }else{
                  this.showSnackbar('rgba(255, 82, 82, 0.9)','Ошибка обновления настроек по умолчанию');
               }
               this.progress_line = false;
            });
         },

         showSnackbar(color,text){
            this.color_snackbar = color;
            this.text_snackbar = text;
            this.snackbar = true;
         }
      },
   }
</script>

<style scoped>
</style>
