<template>
   <v-container
           fluid="true"
   >
      <v-snackbar
              v-model="snackbar"
              :color="color_snackbar"
              :timeout="8000"
              location="bottom left"
      >
         {{ text_snackbar }}
         <template v-slot:actions>
            <v-btn icon color="white" @click="snackbar = false">
               <v-icon>mdi-close-thick</v-icon>
            </v-btn>
         </template>
      </v-snackbar>
      <v-progress-linear
              indeterminate
              color="teal-darken-1"
              v-if="progress_line"
      >
      </v-progress-linear>
      <v-table>
         <thead>
            <tr>
               <th class="text-left">Марка</th>
               <th class="text-left">Модель</th>
               <th class="text-left">Регистрационный номер</th>
               <th class="text-left">Редактировать</th>
               <th class="text-left">Удалять</th>
            </tr>
         </thead>
         <tbody v-if="GET_CARS.length && GET_CARS[0].car">
            <tr v-for="(item, index) in GET_CARS" :key="item.id">
               <td>{{ item.car.make }}</td>
               <td>{{ item.car.model }}</td>
               <td>{{ item.car.license_plate_number }}</td>
               <td>
                  <v-btn
                          color="blue-darken-3"
                          size="small"
                          icon
                          @click="showDialogObject(item.car.id)"
                  >
                     <v-icon>mdi-pencil</v-icon>
                  </v-btn>
               </td>
               <td>
                  <v-btn
                          color="red-darken-3"
                          size="small"
                          icon
                          @click="showDialogDestroy(item.car.id,index)"
                  >
                     <v-icon>mdi-trash-can-outline</v-icon>
                  </v-btn>
               </td>
            </tr>
         </tbody>
      </v-table>
      <v-row justify="center">
         <v-dialog v-model="GET_CAR_DIALOG" persistent max-width="700px">
            <v-card>
               <v-card-title>
                  <span class="headline">Автобус</span>
                     <v-spacer></v-spacer>
               </v-card-title>
               <v-card-text>
                  <v-container>
                     <v-form ref="form_car" lazy-validation>
                        <v-row>
                           <v-col class="padding_col" cols="12">
                              <v-text-field
                                      label="Марка*"
                                      v-model="car.make"
                                      :rules="make_rules"
                                      variant="outlined"
                                      dense
                              >
                              </v-text-field>
                           </v-col>
                           <v-col class="padding_col" cols="12">
                              <v-text-field
                                     label="Модель*"
                                     v-model="car.model"
                                     :rules="model_rules"
                                     variant="outlined"
                                     dense
                              >
                              </v-text-field>
                           </v-col>
                           <v-col class="padding_col" cols="12">
                              <v-text-field
                                      label="Регистрационный номер*"
                                      v-model="car.license_plate_number"
                                      :rules="license_plate_number_rules"
                                      variant="outlined"
                                      dense
                              >
                              </v-text-field>
                           </v-col>
                           <v-col class="padding_col" cols="12">
                              <v-autocomplete
                                      label="Организация*"
                                      v-model="car.organization_id"
                                      :items="GET_ORGANIZATIONS"
                                      item-value="id"
                                      item-title="name"
                                      variant="outlined"
                                      dense
                              >
                                 <template v-slot:item="{ props, item }">
                                    <v-list-item
                                            v-bind="props"
                                    >
                                       {{item.name}}
                                    </v-list-item>
                                 </template>
                                 <template v-slot:no-data >
                                    <div class="not_data">
                                       Организации не созданы
                                    </div>
                                 </template>
                              </v-autocomplete>
                           </v-col>
                           <v-col class="padding_col" cols="12">
                              <v-autocomplete
                                      label="Водители"
                                      v-model="driver_ids"
                                      :items="GET_DRIVERS"
                                      item-value="id"
                                      variant="outlined"
                                      closable-chips
                                      multiple
                                      chips
                                      dense
                              >
                                  <!--template v-slot:selection="{ props, item }">
                                     <v-list-item
                                            v-bind="props"
                                           :title="item?.raw?.surname"
                                           :subtitle="item?.raw?.name+ ' ' +item?.raw?.patronymic"
                                     >
                                     </v-list-item>
                                  </template-->
                                 <template v-slot:chip="{ props, item }">
                                    <v-chip
                                            v-bind="props"
                                            size="small"
                                            :text="item?.raw?.surname+' '+item?.raw?.name+' '+item?.raw?.patronymic"
                                    >
                                    </v-chip>
                                 </template>
                                 <template v-slot:item="{ props, item }">
                                    <v-list-item
                                            v-bind="props"
                                            :title="item?.raw?.surname"
                                            :subtitle="item?.raw?.name+ ' ' +item?.raw?.patronymic"
                                    >
                                    </v-list-item>
                                 </template>
                                 <template v-slot:no-data >
                                    <div class="not_data">
                                       У органицации не указаны водители
                                    </div>
                                 </template>
                              </v-autocomplete>
                           </v-col>
                           <v-col class="padding_col" cols="12">
                              <v-autocomplete
                                      label="Маршруты"
                                      v-model="route_ids"
                                      :items="GET_ROUTES"
                                      item-value="id"
                                      variant="outlined"
                                      closable-chips
                                      multiple
                                      chips
                                      dense
                              >
                                 <template v-slot:chip="{ props, item }">
                                    <v-chip
                                            v-bind="props"
                                            size="small"
                                            :text="item?.raw?.name"
                                    >
                                    </v-chip>
                                 </template>
                                 <template v-slot:item="{ props, item }">
                                    <v-list-item
                                            v-bind="props"
                                            :title="item?.raw?.name"
                                    >
                                    </v-list-item>
                                 </template>
                                 <template v-slot:no-data >
                                    <div class="not_data">
                                       Маршруты не созданы
                                    </div>
                                 </template>
                              </v-autocomplete>
                           </v-col>
                           <!--v-col class="padding_col" cols="12">
                              <v-text-field
                                        label="Выпуски"
                                        v-model="car.make"
                                        :rules="make_rules"
                                        variant="outlined"
                                        dense
                              >
                              </v-text-field>
                           </v-col-->
                        </v-row>
                     </v-form>
                  </v-container>
               </v-card-text>
               <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeDialogObject">Закрыть</v-btn>
                  <v-btn color="green darken-1" text @click="submitObject">Сохранить</v-btn>
               </v-card-actions>
            </v-card>
         </v-dialog>
      </v-row>
      <v-row justify="center">
         <v-dialog v-model="destroy_dialog" persistent max-width="350">
            <v-card>
               <v-card-title class="headline">Удаление</v-card-title>
               <v-card-text>Вы действительно хотите удалить автобус?</v-card-text>
               <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="destroyObject(false)">Нет</v-btn>
                  <v-btn color="green darken-1" text @click="destroyObject(true)">Да</v-btn>
               </v-card-actions>
            </v-card>
         </v-dialog>
      </v-row>
   </v-container>
</template>

<script>
   import {mapActions, mapGetters} from 'vuex'
   export default {
      name: 'car',
      data: () => ({
         snackbar: false,
         progress_line: false,
         destroy_dialog: false,
         text_snackbar: '',
         color_snackbar: 'rgba(255, 82, 82, 0.9)',
         submit_type: 0,
         current_id: 0,
         first_load_page: true,

         car: {
            make: '',
            model: '',
            license_plate_number: '',
            organization_id: null,
         },

         driver_ids: [],
         route_ids: [],
         //issue_ids: ''

         make_rules: [
            v => !!v || 'Укажите марку',
         ],
         model_rules: [
            v => !!v || 'Укажите модел',
         ],
         license_plate_number_rules: [
            v => !!v || 'Укажите регистрационный номер',
         ],
      }),
      mounted: function(){
         this.progress_line = true;
         this.loadObjects();
         this.LOAD_ORGANIZATIONS();
         this.LOAD_ROUTES();
      },
      watch: {
         'car.organization_id': function(newValue, oldValue){
            if(newValue){
               this.set_cars = [];
               this.LOAD_DRIVERS_BY_SIGN(["organization",newValue]);
            }
         },
      },
      computed: {
          ...mapGetters(['GET_CAR_DIALOG','GET_CARS','GET_DRIVERS','GET_ORGANIZATIONS','GET_ROUTES']),
      },
      methods: {
          ...mapActions(['CHANGE_CAR_DIALOG','LOAD_ORGANIZATIONS','LOAD_DRIVERS_BY_SIGN','LOAD_ROUTES','LOAD_CARS','CREATE_CAR','UPDATE_CAR','DESTROY_CAR']),

         loadObjects(){
            this.LOAD_CARS().then((respond)=>{
               if(respond.request.status == 200){
                  if(this.first_load_page && respond.data.length > 0) this.showSnackbar('rgba(85, 175, 80, 0.9)','Список загружен');
                  //???
               }else{
                   this.showSnackbar('rgba(255, 82, 82, 0.9)','Ошибка загрузки списка');
               }
               this.first_load_page = false;
               this.progress_line = false;
            });
         },

         showDialogObject(id){
            let current_car = _.cloneDeep(this.GET_CARS.filter(car=>car.car.id==id)[0]);
            this.car = current_car.car;
            this.driver_ids = current_car.driver_ids;
            this.route_ids = current_car.route_ids;
            this.CHANGE_CAR_DIALOG();
            this.submit_type = 1;
            this.current_id = this.car.id
         },

         submitObject(){
            this.$refs.form_car.validate().then(e=>{
               if(e.valid){
                  this.CHANGE_CAR_DIALOG();
                  this.progress_line = true;
                  let car = {}
                  car["car"] = this.car;
                  car["driver_ids"] = this.driver_ids;
                  car["route_ids"] = this.route_ids;
                  const token = document.querySelector('[name=csrf-token]').content
                  if(this.submit_type == 0){
                     this.CREATE_CAR([car,token]).then((respond)=>{
                        if(respond.request.status == 200 && respond.data){
                           this.loadObjects();
                           this.clearObject();
                           this.showSnackbar('rgba(85, 175, 80, 0.9)','Автобус успешно создан');
                        }else{
                           this.showSnackbar('rgba(255, 82, 82, 0.9)','Ошибка создания автобуса');
                           this.progress_line = false;
                        }
                     });
                  }else if(this.submit_type == 1){
                     this.UPDATE_CAR([this.current_id,car,token]).then((respond)=>{
                        if(respond.request.status == 200 && respond.data){
                           this.loadObjects();
                           this.clearObject();
                           this.showSnackbar('rgba(85, 175, 80, 0.9)','Автобус успешно обновлен');
                        }else{
                           this.showSnackbar('rgba(255, 82, 82, 0.9)','Ошибка обновления автобуса');
                           this.progress_line = false;
                        }
                     });
                  }
               }
            });
         },

         closeDialogObject(){
            this.CHANGE_CAR_DIALOG();
            this.clearObject();
         },

         showDialogDestroy(id,index){
            this.destroy_dialog = true;
            this.current_destroy_id = id;
            this.current_destroy_index = index;
         },

         destroyObject(flag){
            this.destroy_dialog = false;
            if(flag){
               const token = document.querySelector('[name=csrf-token]').content;
               this.DESTROY_CAR([this.current_destroy_id,this.current_destroy_index,token]).then((respond)=>{
                  if(respond.request.status != 200 && !respond.data){
                      this.showSnackbar('rgba(255, 82, 82, 0.9)','Ошибка удаления автобуса')
                  }else{
                     this.showSnackbar('rgba(85, 175, 80, 0.9)','Автобус успешно удален')
                  }
               });
            }
            this.current_destroy_id = 0;
            this.current_destroy_index = 0;
         },

         clearObject(){
            this.$refs.form_car.resetValidation();
            this.submit_type = 0;
            this.driver_ids = [];
            this.route_ids = [];
            this.car = _.cloneDeep({
               make: '',
               model: '',
               license_plate_number: '',
               organization_id: null,
            });
         },

         showSnackbar(color,text){
            this.color_snackbar = color;
            this.text_snackbar = text;
            this.snackbar = true;
         },
      },
   }
</script>

<style scoped>
</style>
