<template>
   <v-container
           fluid="true"
   >
      <v-snackbar
              v-model="snackbar"
              :color="color_snackbar"
              :timeout="4000"
              location="bottom left"
      >
         {{ text_snackbar }}
         <template v-slot:actions>
            <v-btn
                    color="white"
                    icon
                    @click="snackbar = false"
                >
               <v-icon>mdi-close-thick</v-icon>
            </v-btn>
         </template>
      </v-snackbar>
      <v-progress-linear
              color="teal-darken-1"
              indeterminate
              v-if="progress_line"
      ></v-progress-linear>
      <v-table>
         <thead>
            <tr>
               <th class="text-left">Фамилия</th>
               <th class="text-left">Имя</th>
               <th class="text-left">Отчество</th>
               <th class="text-left">Дата рождения</th>
               <th class="text-left">Редактировать</th>
               <th class="text-left">Удалять</th>
            </tr>
         </thead>
         <tbody v-if="GET_DRIVERS.length">
            <tr v-for="(item, index) in GET_DRIVERS" :key="item.id">
               <td>{{ item.driver.surname }}</td>
               <td>{{ item.driver.name }}</td>
               <td>{{ item.driver.patronymic }}</td>
               <td>{{ item.driver.birthday }}</td>
               <td>
                  <v-btn
                          color="blue-darken-3"
                          size="small"
                          icon
                          @click="showDialogObject(item.driver.id)"
                  >
                     <v-icon>mdi-pencil</v-icon>
                  </v-btn>
               </td>
               <td>
                  <v-btn
                          color="red-darken-3"
                          size="small"
                          icon
                          @click="showDialogDestroy(item.driver.id,index)"
                  >
                     <v-icon>mdi-trash-can-outline</v-icon>
                  </v-btn>
               </td>
            </tr>
         </tbody>
      </v-table>
      <v-row justify="center">
         <v-dialog v-model="GET_DRIVER_DIALOG" persistent max-width="700px">
            <v-card>
               <v-card-title>
                  <span class="headline">Водитель</span>
                  <v-spacer></v-spacer>
               </v-card-title>
                  <v-card-text>
                     <v-container>
                        <v-form ref="form_driver" lazy-validation>
                           <v-row>
                              <v-col class="padding_col" cols="4">
                                 <v-text-field
                                         label="Фамилия*"
                                         v-model="driver.surname"
                                         :rules="surname_rules"
                                         variant="outlined"
                                         dense
                                 >
                                 </v-text-field>
                              </v-col>
                              <v-col class="padding_col" cols="4">
                                 <v-text-field
                                         label="Имя*"
                                         v-model="driver.name"
                                         :rules="name_rules"
                                         variant="outlined"
                                         dense
                                 >
                                 </v-text-field>
                              </v-col>
                              <v-col class="padding_col" cols="4">
                                 <v-text-field
                                        label="Отчество*"
                                        v-model="driver.patronymic"
                                        :rules="patronymic_rules"
                                        variant="outlined"
                                        dense
                                 >
                                 </v-text-field>
                              </v-col>
                              <v-col class="padding_col" cols="6">
                                 <v-text-field
                                        label="Дата рождения*"
                                        v-model="driver.birthday"
                                        :rules="birthday_rules"
                                        autocomplete="off"
                                        variant="outlined"
                                        type="date"
                                        dense
                                 >
                                 </v-text-field>
                              </v-col>
                              <v-col class="padding_col" cols="6">
                                 <v-select
                                         label="Пол"
                                         v-model="driver.sex"
                                         :items="GET_SEX_ITEMS"
                                         variant="outlined"
                                         dense
                                 >
                                 </v-select>
                              </v-col>
                              <v-col class="padding_col" cols="12">
                                 <v-autocomplete
                                         label="Организация"
                                         v-model="driver.organization_id"
                                         :items="GET_ORGANIZATIONS"
                                         item-value="id"
                                         item-title="name"
                                         variant="outlined"
                                         dense
                                 >
                                    <template v-slot:item="{ props, item }">
                                       <v-list-item
                                          v-bind="props"
                                       >{{item.name}}</v-list-item>
                                    </template>
                                    <template v-slot:no-data >
                                       <div class="not_data">
                                          Нет организаций
                                       </div>
                                    </template>
                                 </v-autocomplete>
                              </v-col>
                              <v-col class="padding_col" cols="12">
                                 <v-autocomplete
                                         label="Автобусы"
                                         v-model="car_ids"
                                         :items="GET_CARS"
                                         item-value="id"
                                         variant="outlined"
                                         closable-chips
                                         multiple
                                         chips
                                         dense
                                 >
                                    <template v-slot:chip="{ props, item }">
                                       <v-chip
                                               v-bind="props"
                                               size="small"
                                               :text="item?.raw?.license_plate_number"
                                       >
                                       </v-chip>
                                    </template>
                                    <template v-slot:item="{ props, item }">
                                       <v-list-item
                                               v-bind="props"
                                               :title="item?.raw?.license_plate_number"
                                       >
                                       </v-list-item>
                                    </template>
                                    <template v-slot:no-data >
                                       <div class="not_data">
                                          У органицации не указаны автобусы
                                       </div>
                                    </template>
                                 </v-autocomplete>
                              </v-col>
                           </v-row>
                        </v-form>
                     </v-container>
                  </v-card-text>
               <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeDialogObject">Закрыть</v-btn>
                  <v-btn color="green darken-1" text @click="submitObject">Сохранить</v-btn>
               </v-card-actions>
            </v-card>
         </v-dialog>
      </v-row>
      <v-row justify="center">
         <v-dialog v-model="destroy_dialog" persistent max-width="350">
            <v-card>
               <v-card-title class="headline">Удаление</v-card-title>
               <v-card-text>Вы действительно хотите удалить водителя?</v-card-text>
               <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="destroyObject(false)">Нет</v-btn>
                  <v-btn color="green darken-1" text @click="destroyObject(true)">Да</v-btn>
               </v-card-actions>
            </v-card>
         </v-dialog>
      </v-row>
   </v-container>
</template>

<script>
   import {mapActions, mapGetters} from 'vuex'
   export default {
      name: 'driver',
      data: () => ({
         snackbar: false,
         progress_line: false,
         destroy_dialog: false,
         text_snackbar: '',
         color_snackbar: '',
         menu: false,
         menu_bd: false,
         first_load_page: true,
         submit_type: 0,
         current_id: 0,

         driver: {
            surname: '',
            name: '',
            patronymic: '',
            birthday: '',
            sex: null,
            organization_id: null,
         },

         car_ids: [],

         name_rules: [
            v => !!v || 'Не указано имя',
         ],
         patronymic_rules: [
            v => !!v || 'Не указано отчество',
         ],
         surname_rules: [
            v => !!v || 'Не указана фамилия',
         ],
         birthday_rules: [
            v => !!v || 'Не указан день рождения',
         ],
      }),
      mounted: function(){
         this.progress_line = true;
         this.loadObjects();
         this.LOAD_ORGANIZATIONS();
      },
      watch: {
         'driver.organization_id': function(newValue, oldValue){
            if(newValue){
               this.set_cars = [];//?
               this.LOAD_CARS_BY_SIGN(["organization",newValue]);
            }
         },
      },
      computed: {
         ...mapGetters(['GET_DRIVER_DIALOG','GET_DRIVERS','GET_CARS','GET_ORGANIZATIONS','GET_SEX_ITEMS']),
      },
      methods: {
         ...mapActions(['CHANGE_DRIVER_DIALOG','LOAD_ORGANIZATIONS','LOAD_CARS_BY_SIGN','LOAD_DRIVERS','CREATE_DRIVER','UPDATE_DRIVER','DESTROY_DRIVER']),

         loadObjects(){
            this.LOAD_DRIVERS().then((respond)=>{
               if(respond.request.status == 200){
                  if(this.first_load_page && respond.data.length > 0) this.showSnackbar('rgba(85, 175, 80, 0.9)','Список загружен');
               }else{
                  this.showSnackbar('rgba(255, 82, 82, 0.9)','Ошибка загрузки спиская');
               }
               this.first_load_page = false;
               this.progress_line = false;
            });
         },

         showDialogObject(id){
            let current_driver = _.cloneDeep(this.GET_DRIVERS.filter(driver=>driver.driver.id==id)[0]);
            this.driver = current_driver.driver;
            this.car_ids = current_driver.car_ids;
            this.CHANGE_DRIVER_DIALOG();
            this.submit_type = 1;
            this.current_id = this.driver.id
         },

         submitObject(){
            this.$refs.form_driver.validate().then(e=>{
               if(e.valid){
                  this.CHANGE_DRIVER_DIALOG();
                  this.progress_line = true;
                  let driver = {}
                  driver["driver"] = this.driver;
                  driver["car_ids"] = this.car_ids;
                  const token = document.querySelector('[name=csrf-token]').content
                  if(this.submit_type == 0){
                     this.CREATE_DRIVER([driver,token]).then((respond)=>{
                        if(respond.request.status == 200 && respond.data){
                           this.showSnackbar('rgba(85, 175, 80, 0.9)','Водитель успешно создан');
                           this.loadObjects();
                           this.clearObject();
                        }else{
                           this.showSnackbar('rgba(255, 82, 82, 0.9)','Ошибка создания водителя');
                           this.progress_line = false;
                        }
                     });
                  }else if(this.submit_type == 1){
                     this.UPDATE_DRIVER([this.current_id,driver,token]).then((respond)=>{
                        if(respond.request.status == 200 && respond.data){
                           this.showSnackbar('rgba(85, 175, 80, 0.9)','Водитель успешно обновлен');
                           this.loadObjects();
                           this.clearObject();
                        }else{
                           this.showSnackbar('rgba(255, 82, 82, 0.9)','Ошибка обновления водителя');
                           this.progress_line = false;
                        }
                     });
                  }
               }
            })
         },

         closeDialogObject(){
            this.CHANGE_DRIVER_DIALOG();
            this.clearObject();
         },

         showDialogDestroy(id,index){
            this.destroy_dialog = true;
            this.current_destroy_id = id;
            this.current_destroy_index = index;
         },

         destroyObject(flag){
            this.destroy_dialog = false;
            if(flag){
               const token = document.querySelector('[name=csrf-token]').content;
               this.DESTROY_DRIVER([this.current_destroy_id,this.current_destroy_index,token]).then((respond)=>{
                   if(respond.request.status != 200 && !respond.data){
                      this.showSnackbar('rgba(255, 82, 82, 0.9)','Ошибка удаления водителя')
                   }else{
                      this.showSnackbar('rgba(85, 175, 80, 0.9)','Водитель успешно удален')
                   }
               });
            }
            this.current_destroy_id = 0;
            this.current_destroy_index = 0;
         },


         clearObject(){
            this.$refs.form_driver.resetValidation();
            this.submit_type = 0;
            this.car_ids = [];
            this.driver = _.cloneDeep({
               surname: '',
               name: '',
               patronymic: '',
               birthday: '',
               sex: null,
               organization_id: null,
            });
         },

         showSnackbar(color,text){
            this.color_snackbar = color;
            this.text_snackbar = text;
            this.snackbar = true;
         }
      },
   }
</script>

<style scoped>
</style>
