<template>
   <v-container
           fluid="true"
   >
      <v-snackbar
              v-model="snackbar"
              :color="color_snackbar"
              :timeout="4000"
              location="bottom left"
      >
         {{ text_snackbar }}
         <template v-slot:actions>
            <v-btn  color="white"
                    icon
                    @click="snackbar = false"
            >
               <v-icon>mdi-close-thick</v-icon>
            </v-btn>
         </template>
      </v-snackbar>
      <v-progress-linear
              color="teal-darken-1"
              indeterminate
              v-if="progress_line"
      ></v-progress-linear>
      <v-table>
         <thead>
            <tr>
               <th class="text-left">Наименование</th>
               <th class="text-left">Редактировать</th>
               <th class="text-left">Удалять</th>
            </tr>
         </thead>
         <tbody v-if="GET_ROUTES.length">
            <tr v-for="(item, index) in GET_ROUTES" :key="item.id">
               <td>{{ item.name }}</td>
               <td>
                  <v-btn
                          color="teal-darken-1"
                          size="small"
                          icon
                          @click="showDialogObject(item.id)"
                  >
                     <v-icon>mdi-pencil</v-icon>
                  </v-btn>
               </td>
               <td>
                  <v-btn
                          color="red-lighten-2"
                          size="small"
                          icon
                          @click="showDialogDestroy(item.id,index)">
                     <v-icon>mdi-trash-can-outline</v-icon>
                  </v-btn>
               </td>
            </tr>
         </tbody>
      </v-table>
      <v-row justify="center">
         <v-dialog v-model="GET_ROUTE_DIALOG" persistent max-width="700px">
            <v-card>
               <v-card-title
                       class="bg-blue-grey-darken-3"
                       dark
               >
                  <span class="headline">Маршрут</span>
                  <v-spacer></v-spacer>
               </v-card-title>
               <v-card-text>
                  <v-container>
                     <v-form ref="form_route" lazy-validation>
                        <v-row>
                           <v-col class="padding_col" cols="12">
                              <v-text-field
                                      label="Наименование*"
                                      v-model="route.name"
                                      :rules="name_rules"
                                      variant="outlined"
                                      required
                                      dense
                              ></v-text-field>
                           </v-col>
                        </v-row>
                     </v-form>
                  </v-container>
               </v-card-text>
               <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                          variant="tonal"
                          color="blue-grey-darken-1"
                          @click="closeDialogObject"
                  >
                     Закрыть
                  </v-btn>
                  <v-btn
                          variant="tonal"
                          color="teal-darken-1"
                          @click="submitObject"
                  >
                     Сохранить
                  </v-btn>
               </v-card-actions>
            </v-card>
         </v-dialog>
      </v-row>
      <v-row justify="center">
         <v-dialog v-model="destroy_dialog" persistent max-width="450">
            <v-card style="height: 200px">
               <v-card-title
                       class="bg-blue-grey-darken-3"
                       dark
               >
                  <span class="headline">Удаление</span>
               </v-card-title>
               <v-card-text>Вы действительно хотите удалить маршрут?</v-card-text>
               <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                          variant="tonal"
                          color="blue-grey-darken-1"
                          @click="destroyObject(false)"
                  >
                     Закрыть
                  </v-btn>
                  <v-btn
                          variant="tonal"
                          color="teal-darken-1"
                          @click="destroyObject(true)"
                  >
                     Удалить
                  </v-btn>
               </v-card-actions>
            </v-card>
         </v-dialog>
      </v-row>
   </v-container>
</template>

<script>
   import {mapActions, mapGetters} from 'vuex'
   export default {
      name: 'route',
      data: () => ({
         snackbar: false,
         progress_line: false,
         destroy_dialog: false,
         text_snackbar: '',
         color_snackbar: 'rgba(255, 82, 82, 0.9)',
         submit_type: 0,
         current_id: 0,
         first_load_page: true,

         route: {
             name: '',
         },

         name_rules: [
            v => !!v || 'Укажите наименование',
         ],
      }),
      mounted: function(){
         this.progress_line = true;
         this.loadObjects();
      },
      watch: {},
      computed: {
         ...mapGetters(['GET_ROUTE_DIALOG','GET_ROUTES']),
      },
      methods: {
         ...mapActions(['CHANGE_ROUTE_DIALOG','LOAD_ROUTES','CREATE_ROUTE','UPDATE_ROUTE','DESTROY_ROUTE']),

         loadObjects(){
            this.LOAD_ROUTES().then((respond)=>{
               if(respond.request.status == 200){
                  if(respond.data.error){
                     this.showSnackbar('rgba(255, 82, 82, 0.9)', respond.data.message);
                  }else{
                     if(this.first_load_page && respond.data.length > 0) this.showSnackbar('rgba(85, 175, 80, 0.9)','Список маршрутов загружен');
                  }
               }else{
                  this.showSnackbar('rgba(255, 82, 82, 0.9)','Ошибка загрузки списка маршрутов');
               }
               this.first_load_page = false;
               this.progress_line = false;
             });
         },

         showDialogObject(id){
            this.route = _.cloneDeep(this.GET_ROUTES.filter(route=>route.id==id)[0]);
            this.CHANGE_ROUTE_DIALOG();
            this.submit_type = 1;
            this.current_id = this.route.id
         },

         submitObject(){
            this.$refs.form_route.validate().then(e=>{
               if(e.valid){
                  this.CHANGE_ROUTE_DIALOG();
                  this.progress_line = true;
                  let route = {}
                  route["route"] = this.route;
                  const token = document.querySelector('[name=csrf-token]').content
                  if(this.submit_type == 0){
                     this.CREATE_ROUTE([route,token]).then((respond)=>{
                        if(respond.request.status == 200 && respond.data){
                           if(respond.data.error){
                              this.showSnackbar('rgba(255, 82, 82, 0.9)', respond.data.message);
                              this.progress_line = false;
                           }else{
                              this.loadObjects();
                              this.clearObject();
                              this.showSnackbar('rgba(85, 175, 80, 0.9)','Маршрут успешно создан');
                           }
                        }else{
                           this.showSnackbar('rgba(255, 82, 82, 0.9)','Ошибка создания маршрута');
                           this.progress_line = false;
                        }
                     });
                  }else if(this.submit_type == 1){
                     this.UPDATE_ROUTE([this.current_id,route,token]).then((respond)=>{
                        if(respond.request.status == 200 && respond.data){
                           if(respond.data.error){
                              this.showSnackbar('rgba(255, 82, 82, 0.9)', respond.data.message);
                              this.progress_line = false;
                           }else{
                              this.loadObjects();
                              this.clearObject();
                              this.showSnackbar('rgba(85, 175, 80, 0.9)','Маршрут успешно обновлен');
                           }
                        }else{
                           this.showSnackbar('rgba(255, 82, 82, 0.9)','Ошибка обновления маршрута');
                           this.progress_line = false;
                        }
                     });
                  }
                }
             });
          },

         closeDialogObject(){
            this.CHANGE_ROUTE_DIALOG();
            this.clearObject();
         },

         showDialogDestroy(id,index){
            this.destroy_dialog = true;
            this.current_destroy_id = id;
            this.current_destroy_index = index;
         },

         destroyObject(flag){
            this.destroy_dialog = false;
            if(flag){
               this.progress_line = true;
               const token = document.querySelector('[name=csrf-token]').content;
               this.DESTROY_ROUTE([this.current_destroy_id,this.current_destroy_index,token]).then((respond)=>{
                  if(respond.request.status == 200 && respond.data){
                     if(respond.data.error){
                        this.showSnackbar('rgba(255, 82, 82, 0.9)', respond.data.message);
                     }else{
                        this.showSnackbar('rgba(85, 175, 80, 0.9)','Маршрут успешно удален');
                     }
                  }else{
                     this.showSnackbar('rgba(255, 82, 82, 0.9)','Ошибка удаления маршрута');
                  }
                  this.progress_line = false;
               });
            }
            this.current_destroy_id = 0;
            this.current_destroy_index = 0;
         },

         clearObject(){
            this.$refs.form_route.resetValidation();
            this.submit_type = 0;
            this.route = _.cloneDeep({
               name: '',
            });
         },

         showSnackbar(color,text){
            this.color_snackbar = color;
            this.text_snackbar = text;
            this.snackbar = true;
         }
      },
   }
</script>

<style scoped>
</style>
