<template>
  <v-container
          fluid="true"
  >
     <v-snackbar
             v-model="snackbar"
             :color="color_snackbar"
             :timeout="4000"
             location="bottom left"
     >
        {{ text_snackbar }}
        <template v-slot:actions>
           <v-btn
                   color="white"
                   icon
                   @click="snackbar = false"
           >
              <v-icon>mdi-close-thick</v-icon>
           </v-btn>
        </template>
     </v-snackbar>
     <v-progress-linear
             color="teal-darken-1"
             indeterminate
             v-if="progress_line"
     >
     </v-progress-linear>
     <v-table>
        <thead>
           <tr>
              <th class="text-left">Маршрут</th>
              <th class="text-left">Редактировать</th>
              <th class="text-left">Удалять</th>
           </tr>
        </thead>
        <tbody v-if="GET_SCHEDULES.length">
           <tr v-for="(item, index) in GET_SCHEDULES" :key="item.schedule.id">
              <td>{{ item.route.name }}</td>
              <td>
                 <v-btn
                         color="teal-darken-1"
                         size="small"
                         icon
                         @click="showDialogObject(item.schedule.id)"
                 >
                    <v-icon>mdi-pencil</v-icon>
                 </v-btn>
              </td>
              <td>
                 <v-btn
                         color="red-lighten-2"
                         size="small"
                         icon
                         @click="showDialogDestroy(item.schedule.id,index)">
                    <v-icon>mdi-trash-can-outline</v-icon>
                 </v-btn>
              </td>
           </tr>
        </tbody>
     </v-table>
     <v-row justify="center">
        <v-dialog v-model="GET_SCHEDULE_DIALOG" persistent max-width="400">
           <v-card>
              <v-card-title
                      class="bg-blue-grey-darken-3"
                      dark
              >
                 <span class="headline">Расписание</span>
              </v-card-title>
              <v-card-text>
                 <v-container>
                    <v-form ref="form_create_schedule" lazy-validation>
                       <v-row>
                          <v-col class="padding_col" cols="12">
                             <v-autocomplete
                                     label="Маршруты"
                                     v-model="current_route_id"
                                     :items="GET_ROUTES"
                                     :rules="route_rules"
                                     item-value="id"
                                     item-title="name"
                                     variant="outlined"
                                     dense
                             >
                                <template v-slot:item="{ props, item }">
                                   <v-list-item
                                           v-bind="props"
                                           :title="item?.raw?.name"
                                   >
                                   </v-list-item>
                                </template>
                                <template v-slot:no-data >
                                   <div class="not_data">
                                      Организации не созданы
                                   </div>
                                </template>
                             </v-autocomplete>
                          </v-col>
                       </v-row>
                    </v-form>
                 </v-container>
              </v-card-text>
              <v-card-actions>
                 <v-spacer></v-spacer>
                 <v-btn
                         variant="tonal"
                         color="blue-grey-darken-1"
                         @click="closeDialogBeforeObject()"
                 >
                    Закрыть
                 </v-btn>
                 <v-btn
                         variant="tonal"
                         color="teal-darken-1"
                         @click="createObject()"
                 >
                    Создать
                 </v-btn>
              </v-card-actions>
           </v-card>
        </v-dialog>
     </v-row>
     <v-row justify="center">
        <v-dialog
                v-model="dialog"
                fullscreen
                :scrim="false"
                transition="dialog-bottom-transition"
        >
           <v-card>
              <v-toolbar
                      class="bg-blue-grey-darken-3"
                      dark
              >
                 <v-btn
                         icon
                         dark
                         @click="closeDialogObject()"
                 >
                    <v-icon>mdi-close</v-icon>
                 </v-btn>
                 <v-toolbar-title>Маршрут {{route.name}}</v-toolbar-title>
                 <v-spacer></v-spacer>
                 <v-btn icon @click="fullRouteSchedulePDF()">
                    <v-icon>mdi-rotate-180 mdi-upload-multiple</v-icon>
                    <v-tooltip
                            activator="parent"
                            location="bottom"
                    >
                       Скачать полное расписание
                    </v-tooltip>
                 </v-btn>
                 <v-btn icon @click="generationIssues()">
                    <v-icon>mdi-auto-fix</v-icon>
                    <v-tooltip
                            activator="parent"
                            location="bottom"
                    >
                       Сформировать выпуски
                    </v-tooltip>
                 </v-btn>
                 <v-btn icon @click="checkTimeCircle()">
                    <v-icon>mdi-clock-check-outline</v-icon>
                    <v-tooltip
                           activator="parent"
                           location="bottom"
                    >
                      Проверить время круга
                    </v-tooltip>
                 </v-btn>
                 <!--v-btn icon @click="">
                    <v-icon>mdi-checkbox-multiple-marked-circle-outline</v-icon>
                 </v-btn>
                  <v-btn icon @click="">
                    <v-icon>mdi-clock-check</v-icon>
                 </v-btn-->
                 <!--v-toolbar-items>
                    <v-btn
                            variant="text"
                            @click="dialog = false"
                    >
                       Save
                    </v-btn>
                 </v-toolbar-items-->
              </v-toolbar>
              <v-row class="mb-6">
                 <v-col cols="4" style="padding-right: 0px">
                    <v-progress-linear color="teal-darken-1"
                                       indeterminate
                                       v-if="progress_line_check_point"
                    ></v-progress-linear>
                    <v-sheet
                            class="pa-12"
                            color="grey-lighten-3"
                    >
                       <v-timeline
                               side="end"
                               align="start"
                       >
                          <v-timeline-item
                                  v-for="(cp, i) in sortCheckPoints()"
                                  :dot-color="(i%2==0? 'blue-grey-darken-1' : 'teal-darken-1')"
                                  @click="setPositionMenu($event,cp.number_pint)"
                                  style="cursor: pointer;"
                                  icon="mdi-star"
                                  :key="i"
                                  fill-dot
                          >
                             <template v-slot:opposite>
                                <div
                                        :class="`pt-1 headline font-weight-bold text-${(i%2==0 ? 'blue-grey-darken-1' : 'teal-darken-1')}`"
                                        v-text="cp.time_next_point+' минут'"
                                ></div>
                             </template>
                             <div>
                                <h2 :class="`mt-n1 headline font-weight-light mb-4 text-${(i%2==0? 'blue-grey-darken-1' : 'teal-darken-1')}`">
                                   {{cp.name}}
                                </h2>
                             </div>
                             <v-menu
                                     v-model="cp.menu"
                                     :close-on-content-click="false"
                                     :style="position_style_menu"
                             >
                                <v-card min-width="300">
                                   <div
                                           class="header_card_bus"
                                           v-if="cp.expand"
                                   >
                                      Контрольная точка
                                   </div>
                                   <v-divider v-if="cp.expand"></v-divider>
                                   <v-expand-transition v-if="cp.expand">
                                      <v-container>
                                         <v-form
                                                 ref="form_check_point"
                                                 lazy-validation
                                         >
                                            <v-row>
                                               <v-col
                                                       cols="12"
                                                       class="gluing"
                                               >
                                                  <v-text-field
                                                          label="Наименование"
                                                          v-model="check_point.name"
                                                          variant="outlined"
                                                          required
                                                          dense
                                                  ></v-text-field>
                                               </v-col>
                                               <v-col
                                                       cols="12"
                                                       class="gluing"
                                               >
                                                  <v-text-field
                                                          label="Время до следующей остановки (мин.)"
                                                          v-model="check_point.time_next_point"
                                                          variant="outlined"
                                                          required
                                                          dense
                                                  ></v-text-field>
                                               </v-col>
                                            </v-row>
                                         </v-form>
                                      </v-container>
                                   </v-expand-transition>
                                   <v-divider></v-divider>
                                   <v-card-actions>
                                      <v-spacer></v-spacer>
                                      <v-btn
                                              color="surface-variant"
                                              icon="mdi-plus-thick"
                                              @click="addCheckPoint(cp.number_pint)"
                                              v-if="!save_button"
                                      ></v-btn>
                                      <v-btn
                                              color="bg-primary"
                                              icon="mdi-pencil"
                                              @click="editCheckPoint(cp.number_pint)"
                                              v-if="!edit_button"
                                      ></v-btn>
                                      <v-btn
                                              color="bg-primary"
                                              icon="mdi-arrow-up-thick"
                                              @click="presaveCheckPoint(cp.number_pint,'up')"
                                              v-if="save_button"
                                      ></v-btn>
                                      <v-btn
                                              color="bg-primary"
                                              icon="mdi-arrow-down-thick"
                                              @click="presaveCheckPoint(cp.number_pint,'down')"
                                              v-if="save_button"
                                      ></v-btn>
                                      <v-btn
                                              color="bg-primary"
                                              icon="mdi-content-save-outline"
                                              @click="presaveCheckPoint(cp.number_pint,'down')"
                                              v-if="edit_button"
                                      ></v-btn>
                                      <v-btn
                                              v-if="GET_CHECK_POINTS.length!=1"
                                              color="bg-primary"
                                              icon="mdi-trash-can-outline"
                                              @click="deleteCheckPoint(cp.id,cp.number_pint)"
                                      ></v-btn>
                                   </v-card-actions>
                                </v-card>
                             </v-menu>
                          </v-timeline-item>
                       </v-timeline>
                    </v-sheet>
                 </v-col>
                 <v-col cols="8" style="padding-left: 0px">
                    <v-progress-linear color="teal-darken-1"
                                       indeterminate
                                       v-if="progress_line_issue"
                    ></v-progress-linear>
                    <v-sheet
                            class="pa-12"
                    >
                       <v-form
                               ref="form_schedule"
                               lazy-validation
                       >
                          <v-row>
                             <v-col cols="4">
                                <v-text-field
                                        label="Действует с"
                                        v-model="schedule.begin_date"
                                        variant="outlined"
                                        @change="updateObject(schedule.id)"
                                        type="date"
                                        required
                                        dense
                                ></v-text-field>
                             </v-col>
                             <v-col cols="4">
                                <v-text-field
                                        label="Дествует по"
                                        v-model="schedule.end_date"
                                        variant="outlined"
                                        @change="updateObject(schedule.id)"
                                        type="date"
                                        required
                                        dense
                                ></v-text-field>
                             </v-col>
                             <v-col cols="4">
                                <v-text-field
                                        label="Время"
                                        v-model="schedule_begin_time"
                                        variant="outlined"
                                        :rules="begin_time_issue_rules"
                                        @change="updateObject(schedule.id)"
                                        type="time"
                                        required
                                        dense
                                ></v-text-field>
                             </v-col>
                             <v-col cols="4">
                                <v-text-field
                                        label="Время круга (мин.)"
                                        v-model="schedule.time_circle"
                                        variant="outlined"
                                        :rules="time_circle_issue_rules"
                                        @change="updateObject(schedule.id)"
                                        required
                                        dense
                                ></v-text-field>
                             </v-col>
                             <v-col cols="4">
                                <v-text-field
                                        label="Количество выпусков"
                                        v-model="schedule.count_issue"
                                        variant="outlined"
                                        :rules="count_issue_issue_rules"
                                        @change="updateObject(schedule.id)"
                                        required
                                        dense
                                ></v-text-field>
                             </v-col>
                             <v-col cols="4">
                                <v-switch
                                        v-model="schedule.weekend"
                                        label="Расписание выходного дня"
                                        color="teal-darken-1"
                                        @change="updateObject(schedule.id)"
                                        inset
                                ></v-switch>
                             </v-col>
                          </v-row>
                       </v-form>
                       <v-divider></v-divider>
                       <v-table>
                          <thead>
                             <tr>
                                <th class="text-left">
                                   Выпуск
                                </th>
                                <th class="text-left">
                                   Время
                                </th>
                                <!--th class="text-left">
                                   Автобус
                                </th-->
                                <th class="text-left">
                                   Стартовая остановка
                                </th>
                                <th class="text-left">
                                   Количество кругов
                                </th>
                                <th class="text-left">
                                   Круг перерыва
                                </th>
                                <th class="text-left">
                                   Заменяющий выпуск
                                </th>
                                <th class="text-left">
                                   Расписание
                                </th>
                             </tr>
                          </thead>
                          <tbody v-if="GET_ISSUES.length">
                             <tr
                                     v-for="(issue, index) in GET_ISSUES"
                                     :key="issue.number"
                             >
                                <td>
                                   {{ issue.number }}
                                </td>
                                <td>
                                   {{ this.$moment(issue.start_time).format('h:mm') }}
                                </td>
                                <!--td>
                                   <v-autocomplete
                                           v-model="issue.car_id"
                                           :items="GET_CARS"
                                           item-title="license_plate_number"
                                           item-value="id"
                                           variant="plain"
                                           hide-details="auto"
                                           density="compact"
                                           @blur="presaveIssue(issue.id)"
                                   >
                                      <template v-slot:item="{ props, item }">
                                         <v-list-item
                                                 v-bind="props"
                                         >
                                            {{item.license_plate_number}}
                                         </v-list-item>
                                      </template>
                                      <template v-slot:no-data >
                                         <div class="not_data">
                                            Ничего нет
                                         </div>
                                      </template>
                                   </v-autocomplete>
                                </td-->
                                <td>
                                   <v-autocomplete
                                           v-model="issue.start_side"
                                           :items="start_sides"
                                           item-title="name"
                                           item-value="id"
                                           variant="plain"
                                           hide-details="auto"
                                           density="compact"
                                           @blur="presaveIssue(issue.id)"
                                   >
                                      <template v-slot:item="{ props, item }">
                                         <v-list-item
                                                 v-bind="props"
                                         >
                                            {{item.name}}
                                         </v-list-item>
                                      </template>
                                      <template v-slot:no-data >
                                         <div class="not_data">
                                            Ничего нет
                                         </div>
                                      </template>
                                   </v-autocomplete>
                                </td>
                                <td>
                                   <v-text-field
                                           v-model="issue.count_circle"
                                           variant="plain"
                                           hide-details="auto"
                                           density="compact"
                                           @change="presaveIssue(issue.id)"
                                   ></v-text-field>
                                </td>
                                <td>
                                   <v-text-field
                                           v-model="issue.break_circle"
                                           variant="plain"
                                           hide-details="auto"
                                           density="compact"
                                           @change="presaveIssue(issue.id)"
                                   ></v-text-field>
                                </td>
                                <td>
                                 <v-text-field
                                         v-model="issue.replace_issue"
                                         variant="plain"
                                         hide-details="auto"
                                         density="compact"
                                         @change="presaveIssue(issue.id)"
                                 ></v-text-field>
                                </td>
                                <td>
                                   <v-btn size="small"
                                          color="grey-lighten-3"
                                          @click="personalRouteSchedulePDF(index)"
                                   >
                                      pdf
                                   </v-btn>
                                </td>
                             </tr>
                          </tbody>
                       </v-table>
                    </v-sheet>
                 </v-col>
              </v-row>
           </v-card>
        </v-dialog>
     </v-row>
     <v-row justify="center">
        <v-dialog v-model="destroy_dialog" persistent max-width="450" >
           <v-card style="height: 200px">
              <v-card-title
                      class="bg-blue-grey-darken-3"
                      dark
                      >
                 <span class="headline">Удаление</span>
              </v-card-title>
              <v-card-text>Вы действительно хотите удалить расписание?</v-card-text>
              <v-card-actions>
                 <v-spacer></v-spacer>
                 <v-btn
                         variant="tonal"
                         color="blue-grey-darken-1"
                         @click="destroyObject(false)"
                 >
                    Закрыть
                 </v-btn>
                 <v-btn
                         variant="tonal"
                         color="teal-darken-1"
                         @click="destroyObject(true)"
                 >
                    Удалить
                 </v-btn>
              </v-card-actions>
           </v-card>
        </v-dialog>
     </v-row>
   </v-container>
</template>

<script>
   //если меняется что-то из schedule(время круга и тд) нужно удалять выпуски
   //возможно переписать так чтобы выпуски и контрольные точки приходили вместе с расписанием
   //когда закрывваю расписание обнулять массивы выпусков и чекпоинтов?
   //датапикер
   // завязка на current org
   // роуты, которые нужны для schedule убрать из недоступных
   // общенеобходимые маршруты можно убирать из before_action
   // убрать удаление диалог в другую компоненту
   // добавить в pdf текущую организацию
   // заменяется по порядку 161718
   // убрать перерыв у заменяющих маршрутов
   // отрицательные числа между точками контроля в маршрутах
   /*
    amur-bus.ru 199
    amur-route.ru 199
    route28.ru 199
    drive28.ru 199
    amur-go.ru 199
    ride28.ru 199
    amur-ride.ru 199
    amurride.ru 199
    amuride.ru 199

    blg-bus.ru
    blg-route.ru

    amurdrive.ru  - занят
    amurbus.ru - занят
    bus28.ru - занят
    */
   import {mapActions, mapGetters} from "vuex";
   import PersonalRouteSchedulePdf from '../makepdfs/personal_route_schedule_pdf';
   import FullRouteSchedulePdf from '../makepdfs/full_route_schedule_pdf';
   export default {
      name: 'Schedule',
      data: () => ({
         snackbar: false,
         progress_line: false,
         progress_line_check_point: false,
         progress_line_issue: false,
         destroy_dialog: false,
         current_destroy_id: null,
         current_destroy_index: null,
         text_snackbar: '',
         color_snackbar: 'rgba(255, 82, 82, 0.9)',
         dialog: false,

         first_load_page: true,
         first_open_dialog: true,

         position_style_menu: null,
         position_style_open_menu: null,
         current_route_id: null,

         add_flag: false,
         save_button: false,
         edit_button: false,

         schedule: {
            time_circle: null,
            count_issue: null,
            begin_date: null,
            end_date: null,
            begin_time: null,
            route_id: null,
            weekend: false,
            organization_id: null
         },

         check_point:{
            name: '',
            time_next_point: 0,
            number_pint: 0,
            expand: false,
            menu: false,
            schedule_id: null,
         },

         route:{
            name: '',
         },

         issue:{
            number: 0,
            car_id: 0,
            time_start: '',
         },

         start_sides:[
            'Начальная конт. точка',
            'Конечная конт. точка'
         ],

         route_rules: [
            v => !!v || 'Укажите маршрут',
         ],
         name_check_point_rules: [
            v => !!v || 'Укажите наименование',
         ],
         time_next_point_check_point_rules: [
            v => !!v || 'Укажите минуты',
         ],
         time_circle_issue_rules: [
            v => !!v || 'Укажите время круга',
         ],
         count_issue_issue_rules: [
            v => !!v || 'Укажите количество выпусков',
         ],
         begin_time_issue_rules: [
            v => !!v || 'Укажите время',
         ],
      }),
      mounted(){
         this.loadObjects();
         this.LOAD_ROUTES();
         //this.LOAD_CARS_BY_SIGN(["organization",1]); //current org
         this.LOAD_APP_SETTINGS();
      },
      watch: {
         'GET_CHECK_POINTS': {deep: true, handler(newValue, oldValue){
            if(!this.first_open_dialog){
               newValue.forEach((bs)=>{
                  if(bs.menu == true && bs.expand == false){
                     this.save_button = false;
                     this.edit_button = false;
                  }
               });
            }
         }},
      },
      computed: {
         ...mapGetters(['GET_SCHEDULE_DIALOG','GET_SCHEDULES','GET_ROUTES','GET_CHECK_POINTS','GET_ISSUES','GET_CARS','GET_APP_SETTINGS','GET_ACCOUNT']),

         schedule_begin_time:{
            get: function(){
               if(this.schedule.begin_time != null && this.schedule.begin_time){
                  if(this.schedule.begin_time.match(/[0-9]*:[0-9]*/).length){
                     let full_time = this.schedule.begin_time.match(/[0-9]*:[0-9]*/)[0].split(':');
                     return `${(full_time[0].length == 2 ? full_time[0] : `0${full_time[0]}`)}:${(full_time[1].length == 2 ? full_time[1] : `0${full_time[1]}`)}`;
                  }
               }else{
                  return '';
               }
            },
            set: function(newValue){
               this.schedule.begin_time = newValue;
            }
         },
       },
      methods:{
         ...mapActions(['CHANGE_SCHEDULE_DIALOG','LOAD_CHECK_POINTS_BY_SCHEDULE','LOAD_ROUTES','LOAD_SCHEDULES','CREATE_SCHEDULE','UPDATE_SCHEDULE','DESTROY_SCHEDULE','CREATE_CHECK_POINT','UPDATE_CHECK_POINT','DESTROY_CHECK_POINT','LOAD_ISSUES_BY_SCHEDULE','CREATE_ISSUE','UPDATE_ISSUE','DESTROY_ISSUE','DESTROY_ISSUE_BY','LOAD_CARS_BY_SIGN','GENERATION_ISSUES','LOAD_APP_SETTINGS']),

         loadObjects(external_respond=undefined){
            this.LOAD_SCHEDULES().then((respond)=>{
               if(respond.request.status == 200){
                  if(respond.data.error){
                     this.showSnackbar('rgba(255, 82, 82, 0.9)', respond.data.message);
                  }else{
                     if(this.first_load_page && respond.data.length > 0) this.showSnackbar('rgba(85, 175, 80, 0.9)', 'Список расписаний загружен');
                     if(external_respond){
                        let current_object = _.cloneDeep(this.GET_SCHEDULES.filter(e=>e.schedule.id == external_respond.id)[0]);
                        this.schedule = current_object.schedule;
                        this.route = current_object.route;
                        this.dialog = true;
                        this.progress_line_check_point = true;
                        this.progress_line_issue = true;
                        this.loadCheckPoint();
                        this.loadIssues();
                        if(!external_respond.error) this.showSnackbar('rgba(255, 82, 82, 0.9)', 'Ошибка создания расписания');
                     }
                  }
               }else{
                  this.showSnackbar('rgba(255, 82, 82, 0.9)', 'Ошибка загрузки списка расписаний');
               }
               this.first_load_page = false;
               this.progress_line = false;
            });
         },

         showDialogObject(id){
            this.dialog  = true;
            this.progress_line_issue = true;
            this.progress_line_check_point = true;
            let current_schedule = _.cloneDeep(this.GET_SCHEDULES.filter(schedule=>schedule.schedule.id==id)[0]);
            this.schedule = current_schedule.schedule;
            this.route = current_schedule.route;
            this.first_open_dialog = true;
            this.loadCheckPoint();
            this.loadIssues();
         },

         createObject(){
            this.$refs.form_create_schedule.validate().then(e=>{
               if(e.valid){
                  this.CHANGE_SCHEDULE_DIALOG();
                  this.progress_line = true;
                  this.schedule.route_id = this.current_route_id;
                  this.schedule.organization_id = (this.GET_ACCOUNT[0].orgnizations.length>0 ? this.GET_ACCOUNT[0].orgnizations[0] : null);
                  const token = document.querySelector('[name=csrf-token]').content
                  this.CREATE_SCHEDULE([this.schedule,token]).then((respond)=>{
                     if(respond.request.status == 200 && respond.data){
                        if(respond.data.error){
                           this.showSnackbar('rgba(255, 82, 82, 0.9)', respond.data.message);
                           this.progress_line = false;
                        }else{
                           this.loadObjects(respond.data);
                           this.current_route_id = null;
                        }
                     }else{
                        this.showSnackbar('rgba(255, 82, 82, 0.9)', 'Ошибка создания расписания');
                        this.progress_line = false;
                     }
                  });
               }
            });
         },

         updateObject(){
            this.$refs.form_schedule.validate().then(e=>{
               if(e.valid){
                  this.progress_line_issue = true;
                  let schedule = {}
                  schedule["schedule"] = this.schedule
                  const token = document.querySelector('[name=csrf-token]').content
                  this.UPDATE_SCHEDULE([this.schedule.id,schedule,token]).then((respond)=>{
                     if(respond.request.status == 200 && respond.data){
                        if(respond.data.error){
                           this.showSnackbar('rgba(255, 82, 82, 0.9)', respond.data.message);
                           this.progress_line = false;
                        }else {
                           this.showSnackbar('rgba(85, 175, 80, 0.9)', 'Расписание успешно обновлено');
                        }
                     }else{
                        this.showSnackbar('rgba(255, 82, 82, 0.9)', 'Ошибка обновления расписания');
                     }
                     this.progress_line_issue = false;
                  });
               }
            });
         },

         closeDialogBeforeObject(){
            this.CHANGE_SCHEDULE_DIALOG();
            this.$refs.form_create_schedule.resetValidation();
            this.schedule.route_id = null;
         },

         closeDialogObject(){
            this.dialog = false;
            this.first_open_dialog = true;
            this.clearObject();
         },

         showDialogDestroy(id,index){
            this.destroy_dialog = true;
            this.current_destroy_id = id;
            this.current_destroy_index = index;
         },

         destroyObject(flag){
            this.destroy_dialog = false;
            if(flag){
               const token = document.querySelector('[name=csrf-token]').content;
               this.DESTROY_SCHEDULE([this.current_destroy_id,this.current_destroy_index,token]).then((respond)=>{
                  if(respond.request.status == 200 && respond.data){
                     if(respond.data.error){
                        this.showSnackbar('rgba(255, 82, 82, 0.9)', respond.data.message);
                     }else{
                        this.showSnackbar('rgba(85, 175, 80, 0.9)', 'Расписание успешно удалено');
                     }
                  }else{
                     this.showSnackbar('rgba(255, 82, 82, 0.9)', 'Ошибка удаления расписания');
                  }
               });
            }
            this.current_destroy_id = 0;
            this.current_destroy_index = 0;
         },

         clearObject(){
            this.schedule = _.cloneDeep({
               time_circle: null,
               count_issue: null,
               begin_date: null,
               end_date: null,
               begin_time: null,
               route_id: null,
               weekend: false,
               organization_id: null
            });
         },

         showSnackbar(color,text){
            this.color_snackbar = color;
            this.text_snackbar = text;
            this.snackbar = true;
         },


         //POINT
         loadCheckPoint(){
            this.LOAD_CHECK_POINTS_BY_SCHEDULE([this.schedule.id]).then((respond)=>{
               if(respond.request.status == 200){
                  if(respond.data.error){
                     this.showSnackbar('rgba(255, 82, 82, 0.9)', respond.data.message);
                  }else{
                     this.showSnackbar('rgba(85, 175, 80, 0.9)', 'Список точке котроля загружен');
                  }
               }else{
                  this.showSnackbar('rgba(255, 82, 82, 0.9)', 'Ошибка загрузки списка точке котроля');
               }
               this.progress_line_check_point = false;
            });
         },

         sortCheckPoints(){
            return _.sortBy(this.GET_CHECK_POINTS, bs => bs.number_pint)
         },

         addCheckPoint(number){
            if(this.position_style_open_menu){this.position_style_menu = this.position_style_open_menu;}
            this.clearCheckPoint();
            let check_point = this.GET_CHECK_POINTS.filter(bs => bs.number_pint == number)[0];
            check_point.expand = true;
            this.first_open_dialog = false;
            this.edit_button = false;
            this.save_button = true;
            this.add_flag = true;
         },

         editCheckPoint(number){
            if(this.position_style_open_menu){this.position_style_menu = this.position_style_open_menu;}
            let check_point = this.GET_CHECK_POINTS.filter(bs => bs.number_pint == number)[0];
            this.check_point = _.cloneDeep(check_point);
            check_point.expand = true;
            this.first_open_dialog = false;
            this.save_button = false;
            this.edit_button = true;
            this.add_flag = false;
         },

         presaveCheckPoint(number,flag_save){
            this.saveCheckPoint(number,flag_save).then((signature)=>{
               this.loadCheckPoint();
            },(error) => {
               console.log(error);
            });
         },

         saveCheckPoint(number,flag_save){
            return new Promise((resolve, reject) => {
               this.progress_line_check_point = true;
               this.GET_CHECK_POINTS.map((bs) => {
                  if(bs.number_pint == number){
                     bs.menu = false;
                     bs.expand = false;
                  }
               });
               const token = document.querySelector('[name=csrf-token]').content;
               if(this.add_flag){
                  this.save_button = false;
                  if(flag_save == 'up'){
                     this.check_point.number_pint = number;
                  }else{
                     this.check_point.number_pint = number + 1;
                  }
                  this.check_point.schedule_id = this.schedule.id;
                  let check_point = {};
                  check_point["check_point"] = _.cloneDeep(this.check_point); //?
                  this.CREATE_CHECK_POINT([check_point, token]).then((respond) => {
                     if(respond.request.status == 200 && respond.data){
                        if(respond.data.error){
                           this.showSnackbar('rgba(255, 82, 82, 0.9)', respond.data.message);
                           this.progress_line_check_point = false;
                        }else{
                           this.showSnackbar('rgba(85, 175, 80, 0.9)', 'Точка контроля создана');
                           this.GET_CHECK_POINTS.map((bs) => {
                              if (flag_save == 'up') {
                                 if (bs.number_pint >= number) {
                                    bs.number_pint += 1;
                                    let check_point = {};
                                    check_point["check_point"] = bs;
                                    this.UPDATE_CHECK_POINT([bs.id, check_point, token]).then((respond) => {
                                    });
                                 }
                              } else {
                                 if (bs.number_pint > number) {
                                    bs.number_pint += 1;
                                    let check_point = {};
                                    check_point["check_point"] = bs;
                                    this.UPDATE_CHECK_POINT([bs.id, check_point, token]).then((respond) => {
                                    });
                                 }
                              }
                           });
                           this.clearCheckPoint();
                        }
                        resolve();
                     }else{
                        this.showSnackbar('rgba(255, 82, 82, 0.9)', 'Ошибка создания точки контроля');
                        this.progress_line_check_point = false;
                     }
                  });
               }else{
                  this.edit_button = false;
                  let check_point = {};
                  this.check_point.menu = false;
                  check_point["check_point"] = this.check_point;
                  this.UPDATE_CHECK_POINT([this.check_point.id, check_point, token]).then((respond) => {
                     if(respond.request.status == 200 && respond.data){
                        if(respond.data.error){
                           this.showSnackbar('rgba(255, 82, 82, 0.9)', respond.data.message);
                           this.progress_line_check_point = false;
                        }else{
                           this.showSnackbar('rgba(85, 175, 80, 0.9)', 'Точка контроля обновлена');
                           this.clearCheckPoint();
                           resolve();
                        }
                     }else{
                        this.showSnackbar('rgba(255, 82, 82, 0.9)', 'Ошибка обновления точки контроля');
                        this.progress_line_check_point = false;
                     }
                  });
               }
            });
         },

         deleteCheckPoint(id,number){
            this.GET_CHECK_POINTS.map((bs) => {
               if(bs.number_pint == number){
                  bs.menu = false;
                  bs.expand = false;
               }
            });
            this.progress_line_check_point = true;
            const token = document.querySelector('[name=csrf-token]').content;
            this.DESTROY_CHECK_POINT([id,number,token]).then((respond)=>{
               if(respond.request.status == 200 && respond.data){
                  if(respond.data.error){
                     this.showSnackbar('rgba(255, 82, 82, 0.9)', respond.data.message);
                  }else{
                     this.showSnackbar('rgba(85, 175, 80, 0.9)', 'Точка контроля успешно удалена');
                     this.GET_CHECK_POINTS.map((bs) => {
                        if (bs.number_pint > number) {
                           bs.number_pint -= 1;
                           let check_point = {};
                           check_point["check_point"] = bs;
                           this.UPDATE_CHECK_POINT([bs.id, check_point, token]).then((respond) => {
                           });
                        }
                     });
                     this.loadCheckPoint();
                  }
               }else{
                  this.showSnackbar('rgba(255, 82, 82, 0.9)', 'Ошибка удаления точки контороля');
               }
               this.progress_line_check_point = false;
            });
         },

         clearCheckPoint(){
            this.check_point = _.cloneDeep({
               name: '',
               time_next_point: 0,
               number_pint: 0,
               expand: false,
               menu: false,
               schedule_id: null,
            });
         },

         setPositionMenu: function (event, number){
            let clientY = (window.innerHeight > event.clientY+64 ? event.clientY : window.innerHeight-78);
            if(window.innerHeight < event.clientY+314){
               this.position_style_open_menu = `top: ${window.innerHeight-324}px;left: ${event.clientX}px;`
            }else{
               this.position_style_open_menu = null;
            }
            this.position_style_menu = `top: ${clientY}px;left: ${event.clientX}px;`
            this.GET_CHECK_POINTS.map((bs) => {
               if(bs.number_pint == number){
                  bs.menu = true;
               }else{
                  bs.expand = false;
                  bs.menu = false;
               }
            });
          },


          // ISSUE
         loadIssues(){
            this.LOAD_ISSUES_BY_SCHEDULE([this.schedule.id]).then((respond)=>{
               if(respond.request.status == 200){
                  if(respond.data.error){
                     this.showSnackbar('rgba(255, 82, 82, 0.9)', respond.data.message);
                  }else {
                     this.showSnackbar('rgba(85, 175, 80, 0.9)', 'Список выпусков загружен');
                  }
               }else{
                  this.showSnackbar('rgba(255, 82, 82, 0.9)', 'Ошибка загрузки списка выпусков');
               }
               this.progress_line_issue = false;
            });
         },

         generationIssues(){
            this.$refs.form_schedule.validate().then(e=>{
               if(e.valid){
                  this.progress_line_issue = true;
                  this.DESTROY_ISSUE_BY([this.schedule.id]).then((respond_ds)=>{
                     if(respond_ds.request.status == 200 && respond_ds.data){
                        if(respond_ds.data.error){
                           this.showSnackbar('rgba(255, 82, 82, 0.9)', respond_ds.data.message);
                        }else{
                           this.showSnackbar('rgba(85, 175, 80, 0.9)', 'Выпуски удалены');
                           this.GENERATION_ISSUES([this.schedule.id]).then((respond) => {
                              if (respond.request.status == 200 && respond.data){
                                 if(respond.data.error){
                                    this.showSnackbar('rgba(255, 82, 82, 0.9)', respond.data.message);
                                 }else{
                                    this.showSnackbar('rgba(85, 175, 80, 0.9)', 'Выпуски созданы');
                                    this.loadIssues();
                                 }
                              }else{
                                 this.showSnackbar('rgba(255, 82, 82, 0.9)', 'Ошибка создания выпусков');
                                 this.progress_line_issue = false;
                              }
                           });
                        }
                     }else{
                        this.showSnackbar('rgba(255, 82, 82, 0.9)', 'Ошибка удаление выпусков');
                        this.progress_line_issue = false;
                     }
                  });
               }
            });
         },

         presaveIssue(id){
            let issue = this.GET_ISSUES.filter(i=>i.id==id)[0];
            if(!issue.replace_issue){
               this.saveIssue(id);
            }else{
               let replace_issue = this.GET_ISSUES.filter(i=>i.number==issue.replace_issue)[0];
               if(issue.start_side == replace_issue.start_side){
                  this.saveIssue(id);
               }else{
                  this.showSnackbar('rgba(255, 82, 82, 0.9)', `Стартовые остановки выпусков ${issue.number} и ${replace_issue.number} должны совпадать`);
               }
            }
         },

         saveIssue(id){
            this.progress_line_issue = true;
            let issue = this.GET_ISSUES.filter(i=>i.id==id)[0];
            const token = document.querySelector('[name=csrf-token]').content
            this.UPDATE_ISSUE([id,{issue: issue},token]).then((respond) => {
               if(respond.request.status == 200 && respond.data){
                  if(respond.data.error){
                     this.showSnackbar('rgba(255, 82, 82, 0.9)', respond.data.message);
                  }else{
                     this.showSnackbar('rgba(85, 175, 80, 0.9)', 'Выпуск обновлен');
                     // this.loadIssues();
                  }
               }else{
                  this.showSnackbar('rgba(255, 82, 82, 0.9)', 'Ошибка обновления выпуска');
               }
               this.progress_line_issue = false;
            });
         },

         checkTimeCircle(){
            let time_circle = (this.schedule.time_circle ? this.schedule.time_circle : 0);
            let sum_points = 0;
            this.GET_CHECK_POINTS.forEach(function(point){
               sum_points+=point.time_next_point
            });
            if(time_circle == sum_points){
               this.showSnackbar('rgba(85, 175, 80, 0.9)', `Сумарное время контрольных точек равно времени круга - ${time_circle} минут`);
            }else if(time_circle < sum_points){
               this.showSnackbar('rgba(255, 82, 82, 0.9)', `Сумарное время контрольных точек (${sum_points} минут) больше времени круга (${time_circle} минут)`);
            }else if(time_circle > sum_points){
               this.showSnackbar('rgba(255, 82, 82, 0.9)', `Сумарное время контрольных точек (${sum_points} минут) меньше времени круга (${time_circle} минут)`);
            }
         },


         //PDF
         personalRouteSchedulePDF(index){
            let current_number = this.GET_ISSUES[index].number
            let replacement_issues = this.GET_ISSUES.filter((i) => {return i.replace_issue == current_number});
            PersonalRouteSchedulePdf.createPDF(this.schedule,this.GET_ISSUES[index],this.GET_CHECK_POINTS.sort(function(a, b){return a.number_pint - b.number_pint}),this.route,replacement_issues,this.GET_APP_SETTINGS,this.GET_ACCOUNT[0]);
         },

         fullRouteSchedulePDF(){
            FullRouteSchedulePdf.createPDF(this.schedule,this.GET_ISSUES,this.GET_CHECK_POINTS.sort(function(a, b){return a.number_pint - b.number_pint}),this.route,this.GET_APP_SETTINGS,this.GET_ACCOUNT[0]);
         }
      },
   }
</script>

<style>
   .header_card_bus{
      margin: 15px;
      font-size: 20px;
   }
   .gluing{
      padding-bottom: 0px;
   }
   .not_data{
      padding-top: 9px;
      padding-bottom: 9px;
      padding-left: 16px;
      padding-right: 16px;
   }
</style>