<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <public-layout>
    <new-account-session>
<!--
      <template v-slot:errors>
        <%# if resource.errors.any? or alert %>
          <v-snackbar
            v-model="Htrue"
            color="rgba(255, 82, 82, 0.9)"
            :timeout="4000"
            location="bottom left"
          >
            <%#= render "devise/shared/error_messages", resource: resource %>
            <%#= alert if alert %>
          </v-snackbar>
        <%# elsif notice%>
          <v-snackbar
            v-model="Htrue"
            color="rgba(85, 175, 80, 0.9)"
            :timeout="4000"
            location="bottom left"
          >
            <%#= notice if notice %>
          </v-snackbar>
        <%# end %>
      </template>
-->
      <template v-slot:errors>
        <% if resource.errors.any? or alert %>
          <v-alert
            type= "warning"
            color="red"
            dismissible
            text
          >
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= alert if alert %>
          </v-alert>
        <% elsif notice%>
          <v-alert
            color="green"
            type= "success"
            dismissible
            text
          >
            <%= notice if notice %>
          </v-alert>
        <% end %>
      </template>
      <template v-slot:links><%= render "devise/shared/links" %></template>
    </new-account-session>
  </public-layout>
<% end %>


<!--

<h2>Log in</h2>

<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%#= f.label :password %><br />
    <%#= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <%# if devise_mapping.rememberable? %>
    <div class="field">
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
    </div>
  <%# end %>

  <div class="actions">
    <%#= f.submit "Log in" %>
  </div>
<%# end %>

<%#= render "devise/shared/links" %>-->
