<!DOCTYPE html>
<html>
  <head>
    <title>Расписание маршрутов</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%#= favicon_pack_tag 'favicon.png' %>
    <!--<link rel="shortcut icon" type="image/x-icon" href="/packs/static/favicon-5b07bc4d55b879f4260f.png">-->
    <!--<link rel="shortcut icon" type="image/x-icon" href="app/javascript/images/favicon.png">-->
    <script src="/uploads/pdfmake.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
